@import "tailwindcss";

/* 

:root {
  --primary: #111;
  --secondary: #fff;
  --accent: #00bfa6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--primary);
  color: var(--secondary);
} */
